[submodule "Titanic Dataset Manual Preprocessing & Matplotlib Visualization"]
	path = Titanic Dataset Manual Preprocessing & Matplotlib Visualization
	url = https://github.com/CHERUGAD/data_preprocessing
